@import "node_modules/reset-css/sass/reset";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1000px;
  width: 100%;
  position: relative;
}

.navbar {
  height: 88px;
  display: flex;
  justify-content: center;
  background-color: #003b5a;

  .container {
    padding-left: 168px;

    @media (min-width: 1560px) {
      padding-left: 256px;
    }
  }

  &__search {
    position: absolute;
    display: flex;
    right: 3rem;
    top: 2rem;

    &__input {
      transform: scaleX(0);
      transform-origin: right center;
      transition: transform 0.4s;

      &.active {
        transform: scaleX(1);
      }
    }

    &__icon {
      transition: transform 0.4s;
      cursor: pointer;
      margin-left: 7px;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FFF;
    box-shadow: 4px 4px 6px 0 rgba(#000, .15);

    img {
      max-width: 100%;
    }

    @media (min-width: 1560px) {
      width: 256px;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-left: 48px;
    margin-right: 100px;

    @media (min-width: 1560px) {
      margin-right: 0px;
    }

    &__item {
      color: #FFF;
      font-size: 1.25rem;
      text-decoration: none;
    }
  }
}

.content {
  flex-grow: 1;
  display: flex;
}

.side-menu {
  transform:translateX(-135px);
  padding: 90px 40px 0;
  left: 0;
  top: 88px;
  margin-bottom: 68px;
  border-right: 1px solid #e1e1e1;
  transition: transform 0.3s;

  &.active{
    transform:translateX(0);
  }

  &__title {
    border-bottom: 1px dotted #023a5c;
    padding-bottom: 1.25rem;
    color: #023a5c;
  }

  &__list {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    &:not(:last-child) {
      border-bottom: 1px dotted #023a5c;
    }

    &__item {
      width: 9rem;

      a {
        text-decoration: none;
        color: #023a5c;
        transition: color 0.3s;
        margin-right: 3.5rem;

        &:hover {
          color: coral;
        }
      }

      

      #hidden_img {
        cursor: pointer;
        transition: transform 1s;

        &.active{
          transform:rotate(180deg);
        }
      }

      &__hidden {
        display: none;
        margin-left: 15px;

        &__item {
          padding-bottom: 10px;
        }
      }

      &:not(:last-child) {
        padding-bottom: 1rem;
      }
    }
  }
}

.main-content {
  padding-bottom: 90px;
  flex-grow: 1;
  padding-top: 96px;
  display: flex;
  justify-content: center;

  .container {
    margin-left: -212px;
  }

  &__header {
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: dotted 1px #023a5c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__icon {
      width: 82px;
      margin-right: 20px;
    }

    &__title {
      font-size: 2rem;
      color: #023a5c;
      text-transform: uppercase;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    font-size: 1rem;

    &__column {
      &__image {
        margin-bottom: 1rem;
        max-width: 100%;
      }

      h3 {
        margin-bottom: 0.25rem;
      }
      
      p {
        margin-bottom: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}

.footer {
  height: 68px;
  background-color: #033660;
}
